<ion-header>
  <ion-navbar [color]="isAndroid ? 'royal' : 'dark'">
    <button ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rosés</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Recherche" (ionInput)="getRoses($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list *ngFor="let rose of roses">
    <ion-list-header [innerHTML]="rose.category"></ion-list-header>

    <ion-item-sliding>
      <ion-item *ngFor="let item of rose.items">
        <h2 [innerHTML]="item.title"></h2>
		<p [innerHTML]="item.resume"></p>
		<p>9,90€</p>
		<button ion-button clear item-end><ion-icon name="md-cart"></ion-icon></button>      		
      </ion-item>
    </ion-item-sliding>

  </ion-list>
</ion-content>